
<h2 id="musique">Musique</h2>
<div class="row-fluid">
	<section class="music span12">
		<iframe style="border: 0; width: 350px; height: 350px;" src="http://bandcamp.com/EmbeddedPlayer/album=958898087/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://hilyle.bandcamp.com/album/retour-aux-sources">Retour aux Sources by Hilyle</a></iframe>
	</section>
</div>
<h2 id="videos">Videos</h2>
<div class="row-fluid">
	<section class="video span12">
		<iframe width="800" height="450" src="//www.youtube.com/embed/9Qznzti7eI8" allowfullscreen></iframe>
	</section>
</div>
<h2 id="bio">Bio</h2>
<div class="row-fluid">
	<section class="bio span12">
		<p>
			Artiste reggae issu de la scène lyonnaise, Hilyle sort en 2010 son 1er album intitulé « Je trace ma route ». Traitant de sujets qui lui sont chers, ses textes perspicaces, portés par son énergie et	sa soif de surprendre, on fait de ce premier opus un album complet, original et efficace. Depuis ses débuts, il monte sur scène avec des artistes d’envergures tels que <em>Max Romeo, Toots &amp; the Maytals,	Taïro, Pierpoljak, Tonton David, Neg’Marons, Baobab, Mc Janik, Turbulence, Chezideck, Lutan Fyah,	Luciano</em> etc...
		</p>
		<p>
			En cette fin d’année 2013, Hilyle revient avec un EP 5 Titres « Retour aux Sources » qu’il joue	sur scène en sound system ou avec son backing band. Ce nouveau projet, plus mature encore, fera	l’objet d’une tournée promotionnelle tout au long de l’année 2014. A découvrir en Live !
		</p>
	</section>
</div>
<h2 id="shows">Concerts</h2>
<div class="row-fluid">
	<section class="concerts span12">
			<script type='text/javascript' src='https://www.bandsintown.com/javascripts/bit_widget.js'></script><a href="https://www.bandsintown.com/HILYLE" class="bit-widget-initializer" data-artist="HILYLE" data-prefix="fbjs">Bandsintown</a>
	</section>
</div>
<h2 id="pro">Espace Pro</h2>
<div class="row-fluid">
	<section class="bio span6">
		<h3>Documents techniques</h3>
		<p>Bientôt...</p>
		<!-- <ul>
			<li><%= link_to "Fiche Technique", "docs/WAILING_TREES-Fiche_technique.pdf" %></li>
			<li><%= link_to "Patch lumière", "docs/WAILING_TREES-Patch_lumiere.pdf" %></li>
			<li><%= link_to "Plan de feu", "docs/WAILING_TREES-Plan_de_feu.pdf" %></li>
		</ul> -->
	</section>
	<section class="bio span6">
		<h3>Contact</h3>
		<p>
			<b>Management/Booking :</b><br />
			Cédric Danis : <a href="mailto:handsupconnexions@gmail.com">handsupconnexions@gmail.com</a><br />
		</p><p>
			<b>Relation Presse :</b><br />
			Camille Bougel : <a href="mailto:handsupcommunication@gmail.com">handsupcommunication@gmail.com</a>
		</p>
	</section>
</div>