
<h2 id="medias">Medias</h2>
<div class="row-fluid">	
	<section class="music span5">
	<h3>Ecouter</h3>		
		<iframe style="width: 288px; height: 288px;" src="http://bandcamp.com/EmbeddedPlayer/album=2034657383/size=large/bgcol=ffffff/linkcol=333333/transparent=true/" seamless><a href="http://wailingtrees.bandcamp.com/album/selon-ma-nature">Selon Ma Nature by WAILING TREES</a></iframe>
	</section>
	<section class="video span7">
		<h3>Voir</h3>
		<iframe width="512" height="288" src="//www.youtube.com/embed/dEFKphqfZjQ" allowfullscreen></iframe>
	</section>
</div>
<h2 id="band">Le groupe</h2>
<div class="row-fluid">
	<section class="bio span7">
		<h3>Bio</h3>
		<p>
			Depuis la sortie de son 1er <b>EP <q> Selon ma nature </q></b> en octobre 2012, le groupe Wailing Trees s’impose comme <b>une référence locale</b>.
		</p><p>

	Les 7 musiciens originaires de la région lyonnaise partagent un amour commun pour le live et comptent le faire savoir ! Ils ont d’ailleurs déjà assuré les premières parties d’artistes d'envergures internationales tels que <b>Groundation, Tiken Jah Fakoly, Dub Inc, Kymani Marley, Biga Ranx, The Abyssinians, Foreign Beggars</b> …
	</p><p>
	En l'espace d’une année d’existence sur scène, le groupe a su trouver sa place avec <b>un son qui lui est propre</b>.
	</p><p>
	Issus de <b>courants musicaux variés</b>, les 7 membres du groupe distillent avec élégance un <b>reggae</b> teinté de <b>soul</b>, de <b>jazz</b>, de <b>rock</b> et de <b>musiques du monde</b> !
	Le tout donne un résultat d’une rare <b>fraîcheur</b> pour un <b>show explosif</b> et intelligemment ficelé. Une valeur sure <b>à voir en live</b> !
	</p>
	
	</section>
	<section class="bio span5">
		<h3>La presse en parle : </h3>
	<ul>
		<li><b>Reggae.fr : </b><q>"le tout donne un résultat plutôt frais dont il faudra suivre les évolutions"</q></li>	

		<li><b>Zyva : </b><q>"du bon reggae local"</q> ; <q>"un groupe à découvrir en live !"</q> ; <q>"le jeune groupe de la Région a su se démarquer assez rapidement de la scène locale"</q></li>
		
		<li><b>PartyTime.fr : </b><q>"une superbe découverte… à surveiller absolument !"</q> ; <q>"une valeur sûre"</q></li>
		
		<li><b>La grosse radio : </b><q>"Leur EP est plus que prometteur"</q> ; <q>"la chose la plus marquante est leur professionnalisme... le talent n'attend pas le nombre des années"</q> <q>"un son qui leur est propre"</q></li>		
	</ul>
	</section>
</div>
<h2 id="shows">Concerts</h2>
<div class="row-fluid">
	<section class="concerts span12">
			<script type='text/javascript' src='https://www.bandsintown.com/javascripts/bit_widget.js'></script><a href="https://www.bandsintown.com/Wailing%20Trees" class="bit-widget-initializer" data-artist="Wailing Trees" data-prefix="fbjs">Bandsintown</a>
	</section>
</div>
<h2 id="pro">Espace Pro</h2>
<div class="row-fluid">
	<section class="bio span6">
		<h3>Documents techniques</h3>
		<ul>
			<li><%= link_to "Fiche Technique", "docs/WAILING_TREES-Fiche_technique.pdf" %></li>
			<li><%= link_to "Patch lumière", "docs/WAILING_TREES-Patch_lumiere.pdf" %></li>
			<li><%= link_to "Plan de feu", "docs/WAILING_TREES-Plan_de_feu.pdf" %></li>			
		</ul>
	</section>
	<section class="bio span6">
		<h3>Contact</h3>
		<p>
			<b>Management/Booking :</b><br />
			Cédric Danis : <a href="mailto:handsupconnexions@gmail.com">handsupconnexions@gmail.com</a><br />
		</p><p>
			<b>Relation Presse :</b><br />
			Camille Bougel : <a href="mailto:handsupcommunication@gmail.com">handsupcommunication@gmail.com</a>
		</p>
	</section>
</div>