
<div class="row-fluid">
	<section class="bio span12">
		<h2>Bio</h2>
		<p>
			Depuis la sortie de son 1er EP « Selon ma nature » en octobre 2012, le groupe Wailing Trees s’impose comme une référence locale.
		</p><p>

Les 7 musiciens originaires de la région lyonnaise partagent un amour commun pour le live et comptent le faire savoir ! Ils ont d’ailleurs déjà assuré les premières parties d’artistes d'envergures internationales tels que Groundation, Tiken Jah Fakoly, Kymani Marley, Biga Ranx, Rod Taylor, Foreign Beggars, …
</p><p>
En l'espace de seulement une année d’existence sur scène, le groupe a su trouver sa place avec un son qui lui est propre.
</p><p>
Issus de courants musicaux variés, les 7 membres du groupe distillent avec élégance un reggae teinté de soul, de jazz, de rock, de musiques cubaines et bien d’autres encore !
Le tout donne un résultat d’une rare fraîcheur pour un show explosif et intelligemment ficelé. Une valeur sure à voir en live !
</p><p>
La presse en parle : <br />

Reggae.fr : « le tout donne un résultat plutôt frais dont il faudra suivre les évolutions »
</p><p>
Zyva : « du bon reggae local » ; « un groupe à découvrir en live ! » ; « le jeune groupe de la Région a su se démarquer assez rapidement de la scène locale »
</p><p>
PartyTime.fr : « une superbe découverte… à surveiller absolument ! » ; « une valeur sûre»
</p><p>
La grosse radio : « Leur EP est plus que prometteur » ; « la chose la plus marquante est leur professionnalisme... le talent n'attend pas le nombre des années » ; « un son qui leur est propre »
		</p>
	</section>
</div>
<div class="row-fluid">
	<section class="music span6">
		<h2>Music</h2>
		<iframe style="border: 0; width: 420px; height: 120px;" src="http://bandcamp.com/EmbeddedPlayer/album=3804987514/size=medium/bgcol=ffffff/linkcol=333333/transparent=true/" seamless><a href="http://wailingtrees.bandcamp.com/album/selon-ma-nature-ep">Selon Ma Nature EP by Wailing Trees</a></iframe>
	</section>
	<section class="social span6">
		<h2>Social</h2>
		<div class="socialbar">
			<%= link_to image_tag("social/facebook.png"), 'http://www.facebook.com/pages/Wailing-Trees/154233301358192' %>
			<%= link_to image_tag("social/bandcamp.png"), 'http://wailingtrees.bandcamp.com/' %>
			<%= link_to image_tag("social/reverbnation.png"), 'http://www.reverbnation.com/wailingtrees' %>
		</div>    
	</section>
</div>
<div class="row-fluid">
	<section class="bio span12">
		<h2>Concerts</h2>
		<script type='text/javascript' src='https://www.bandsintown.com/javascripts/bit_widget.js'></script><a href="https://www.bandsintown.com/DIRECTORS%20CUT" class="bit-widget-initializer" data-artist="DIRECTORS CUT" data-prefix="fbjs">Bandsintown</a>
	</section>
</div>