<footer>
	<small>© <%= Time.now.year %> - Crafted for Hilyle by <a href="http://www.facebook.com/lucasbm">Lucas Biguet-Mermet</a><br />
	Photo - <a href="https://www.facebook.com/Elef.1405?fref=ts">Lionel Faure</a>
	</small>
</footer>