html {
	background: #31221C url(loading.gif) no-repeat center center fixed;
}
body {
	padding-top: 40px;
	background: url(background.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-position: 0 0;
}

#top {
	position: absolute;
	top: 0px;
}

nav {

}

header {
	height: 800px;
	
	text-align: center;
	margin-bottom: 20px;	
}

.content {
	padding-bottom: 100px;
	background-color: #f1dc99;
  	background-color: rgba(241, 220, 153, 0.9);
}

.logo {
		position: relative;
		top: 550px;
	}

footer {
	background-color: #EED484;
	padding-top: 30px;
	padding-bottom: 10px;
	text-align: center;
	color: #34231D;
}

.row-fluid {	
	min-height: 200px;
	padding: 20px;
	background-color: #FAEEC8;
	border-radius: 5px;
	margin-bottom: 200px;
}

.video iframe{
	border: 9px solid white;
}

h2 {
	padding-top: 80px;
	padding-left: 80px;
}

h3 {
	color: #4D4D4D;
	font-size: 18px;
}

q {
	font-style: italic;
	font-size: 12px;
}

.socialbar {
	img {
		border-radius: 18px;
		height: 36px;
		margin: 2px;
		transition: background 0.5s;
	}
	img:hover {
		background-color: #FFEEBF;
		transition: background 0.5s;
	}
}

