html {
	background: #31221C url(loading.gif) no-repeat center center fixed;
}
body {
	padding-top: 40px;
	background: url(background.jpg) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-position: 0 0;
}

#top {
	position: absolute;
	top: 0px;
}

nav {
	z-index: 10;
}

header {
	height: 420px;
	text-align: center;
	margin-bottom: 20px;
}

.content {
	padding-bottom: 100px;
	background-color: #f1dc99;
  	background-color: rgba(255, 255, 255, 0.4);
  .container{
  	padding-top: 300px;
  }
}

.logo {
		position: relative;
		top: 470px;
		width: 600px;
	}

footer {
	background-image: linear-gradient(to top, #F3F3F3, #FFFFFF);
	padding-top: 30px;
	padding-bottom: 10px;
	text-align: center;
	color: #34231D;
}

.row-fluid {
	min-height: 200px;
	padding: 20px;
	background-color: #ffffff;
	border-radius: 5px;
	margin-bottom: 200px;
}

.music{
	iframe{
		margin-left: 295px;
	}
}

.video{
	iframe{
		border: 9px solid white;
		margin-left: 61px;
		z-index: 0;
	}
}

.bio{
	font-size: 1.2em;
}

h2 {
	padding-top: 80px;
	padding-left: 80px;
	color: black;
}

h3 {
	color: #4D4D4D;
	font-size: 18px;
}

q {
	font-style: italic;
	font-size: 12px;
}

.socialbar {
	img {
		border-radius: 18px;
		height: 36px;
		margin: 2px;
		transition: background 0.5s;
	}
	img:hover {
		background-color: #cccccc;
		transition: background 0.5s;
	}
}

